@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
.center{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2%;
}
header{
  background-color: rgba(0,212,255,1);
}
header h1{
  font-weight: 300;
  font-size: 34px;
  padding: 20px 0;
  color: #220330;
  font-family: 'Play', sans-serif;
}
header h1::before{
  content: "<";
  color: rgb(173, 7, 250);
}
header h1::after{
  content: "/>";
  color: rgb(173, 7, 250);
}
body{
  /*background: rgb(34,193,195);
  background: -moz-linear-gradient(177deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background: -webkit-linear-gradient(177deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background: linear-gradient(177deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
  */
  background-attachment: fixed;
  background-image: url(../img/coding-on-laptop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
main{
  position: relative;
  height: 88vh;
}
main .myConnection{
  text-align: center;
}
main ul{
  text-align: center;
  width: 40%;
  min-width: 240px;
  padding: 20px 0;
  margin: 0 auto;
}
main ul li{
  padding: 15px;
  border-radius: 25px;
  /*background-color: rgba(89, 1, 204, 0.705);
  border: 7px solid rgba(89, 1, 204, 0.705);*/
  background-color: rgba(47, 156, 206, 0.774);
  border: 7px solid rgba(47, 156, 206, 0.774);;
  margin: 10px 0;
}
main ul li a {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.932);
}
main ul li i {
  text-align: left;
  padding-right: 20px;
}
